<template name="notFound">
	<div class="not-found page jumbotron">
		<h1>Error 400  <span id="avion" class="glyphicon glyphicon-send" aria-hidden="true"></span></h1>
		<h2>No hemos podido encontrar la página</h2>
		<p>Lamentablemente, y por algún motivo que no alcanzo a comprender, no hemos sido capaces de encontrar la página solicitada.</p>
		<p>Por eso, y gracias al inspirador ejemplo de la honorable Derek Zoolander School, hemos diseñado esta página de error para “páginas que no se pueden mostrar bien o no hacen otras cosas bien tambien”.</p>
		<p>La razón de esto es que probablemente alguno de nuestros programadores se despistó por un momento, pero pronto lo resolverá (ten fé, son los mejores).</p>
		<p>En cualquier caso, rogamos que no tomes represalias violentas contra ninguna persona de nuestro equipo hasta estar seguro de que es el culpable absoluto del problema.</p>
		<p class="text-right">
				<a class="btn btn-primary btn-lg " href="#" onclick="window.history.back()" role="button"><i class="fa fa-undo"></i> Regresar</a>
		</p>
	</div>
</template>