/**
 * Solarized Dark theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../../public/css/theme/lib/mixins";
@import "../../public/css/theme/lib/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,900,900italic,700italic);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #000000;
$base02:    #646464;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;

$base2:     #000;
$base3:     lighten($base2, 10%);
$base1:     lighten($base2, 20%);
$yellow:    #ffd620;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base02;
$headingColor: $base2;
$headingTextShadow: none;

$backgroundColor: $base03;
$linkColor: $yellow;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $yellow;

$headingFontWeight02: 100;



// Theme template ------------------------------
@import "../../public/css/theme/lib/binpar-theme";
// ---------------------------------------------
